/* webfont */
@import url('http://fonts.googleapis.com/css?family=Open+Sans:400,700,600,300');
/* setup */
body {
  font: 14px 'Open Sans', sans-serif;
  background: #1f2336;
  color: #d3d7e3;
}
* {
  box-sizing: border-box;
}
.container {
  width: 600px;
  margin: 40px auto;
  background: #3c405c;
  padding: 20px;
  border: 5px solid #343850;
  -webkit-box-shadow: 0 0 24px rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0 0 24px rgba(0, 0, 0, 0.12);
  box-shadow: 0 0 24px rgba(0, 0, 0, 0.12);
}
.container h1,
.container h2 {
  padding: 0;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  text-align: center;
}
.container h1 {
  font-weight: 300;
  font-size: 36px;
  line-height: 1.2em;
}
.container h2 {
  font-size: 16px;
  line-height: 1.4em;
  margin-bottom: 20px;
}
.container .block {
  padding: 10px;
  border: 2px solid #474c6c;
  margin-top: 6px;
}
.container .block em {
  text-align: right;
  display: block;
  font-style: normal;
  color: #8690af;
  margin-top: -4px;
  margin-bottom: 4px;
  font-size: 12px;
}
/* form ui variables */
/* unfortunate hack to get precise vertical alignment */
/* set percent, stacked view only */
/* form elements */
.checkbox form,
.radio form {
  display: inline-block;
}
.checkbox input,
.radio input,
.checkbox label,
.radio label {
  cursor: pointer;
}
.checkbox input,
.radio input {
  opacity: 0;
  position: absolute;
}
.checkbox input + label,
.radio input + label {
  line-height: 22px;
  display: inline-block;
  padding: 2px;
  margin: 2px 8px -2px 0;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.checkbox input + label:before,
.radio input + label:before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  position: relative;
  top: -2px;
  margin-right: 6px;
  border-radius: 6px;
  height: 20px;
  width: 20px;
  border: 2px solid #535a83;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.checkbox input + label:hover,
.radio input + label:hover {
  color: #aeb8d6;
}
.checkbox input + label:hover:before,
.radio input + label:hover:before {
  border-color: #3cff85;
}
.checkbox input:checked + label,
.radio input:checked + label {
  color: #3cff85;
}
.checkbox input:checked + label:before,
.radio input:checked + label:before {
  background: #3cff85;
  border-color: #535a83;
}
.checkbox input:checked + label:hover:before,
.radio input:checked + label:hover:before {
  border-color: #3cff85;
}
.radio input + label:before {
  border-radius: 50%;
}
.text-input input {
  border-radius: 6px;
  outline: none;
  line-height: 14px;
  font-size: 14px;
  padding: 4px 8px;
  margin-right: 6px;
  background: transparent;
  border: 2px solid #535a83;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.text-input input:focus {
  border-color: #a4abc1;
  color: #d3d7e3;
}
.text-input label {
  position: relative;
  float: left;
  top: 6px;
  margin-right: 10px;
  color: #a4abc1;
  cursor: pointer;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.text-input input:focus + label {
  color: #d3d7e3;
}
.text-input .form-group {
  display: inline-block;
}
.stacked .form-group {
  width: 100%;
  display: block;
  margin-bottom: 6px;
}
.stacked .form-group label {
  width: 16%;
  margin: 0;
}
.stacked .form-group input {
  width: 84%;
  margin: 0;
}
/* color variables */
/* mixins */
