body {
  background-color: #000000;
}
.list-group-item {
  padding: .15rem 0rem;
  background-color: inherit;
  border: none;
  height: 28.8px;
}
.url {
  font-size: 0.75rem;
}
.list-group {
  font-size: 0.85rem;
  line-height: 1.25;
}
.preload-icons {
  vertical-align: middle;
  border-style: none;
  width: 24px;
  height: 24px;
}
.card-title {
  height: 2.45em;
  overflow: hidden;
}
.card.text-white.bg-dark.hoverable {
  transition: background-color 0.5s;
  -moz-transition: background-color 0.5s;
  -webkit-transition: background-color 0.5s;
}
.card.text-white.bg-dark.hoverable:hover {
  background-color: #1a1e21 !important;
}

.sum {
  animation: slidein 2.5s;
  -webkit-animation: slidein 2.5s;
  
}
@keyframes slidein {
    from { opacity: 0; transform: translateX(50%);}
    to   { opacity: 1; transform: translateX(0%)}
}
@-webkit-keyframes slidein {
    from { opacity: 0; -webkit-transform: translateX(50%);}
    to   { opacity: 1; -webkit-transform: translateX(0%);}
}
.title-head {
  animation: fadein 2.5s;
  -webkit-animation: fadein 2.5s;
  display: inline-block;
}
@keyframes fadein {
    from { opacity: 0;}
    to   { opacity: 1;}
}
@-webkit-keyframes fadein {
    from { opacity: 0;}
    to   { opacity: 1;}
}
@keyframes fadeout {
    from { opacity: 1;}
    to   { opacity: 0;}
}
@-webkit-keyframes fadeout {
    from { opacity: 1;}
    to   { opacity: 0;}
}
.title-header-container {
  
}
.title-head-toast {
  display: inline-block;
  float: right;
}
/*<div class="card text-white bg-dark mb-3">
    <img src="' . $preview . '" class="card-img-top" alt="preview-' . $i . '">
    <div class="card-body">
      <h6 class="card-title">' . $title . '</h6>
      <p class="card-text"><ul style="list-style-type: none;">
      <li></li>
      </ul></p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>*/
.black-bg {
    background-color: #000;
    border-color: #343a40;
    color: #d8d8d8;
}
.black-bg:focus {
    background-color: #333333;
    border-color: #343a40;
    color: #d8d8d8;
}

::selection {
  background: #731083;
  color: #fff;
}
.card-link {
  color:#fff;
}
.card-link:hover {
  opacity: 0.4;
  color:#fff;
}